[Unit]
Description=Sausage store frontend
After=remote-fs.target nss-user-lookup.target

[Service]
ExecStart=/usr/bin/sudo /usr/bin/http-server /var/www-data/dist/frontend/ -p 80 --proxy http://localhost:8080
IgnoreSIGPIPE=false
KillMode=process
Restart=on-failure
StandardOutput=file:/logs/out-front.log
StandardError=/logs/out-front.log
User=front-user
[Install]
WantedBy=multi-user.target