[Unit]
Description=Sausage store
After=remote-fs.target nss-user-lookup.target

[Service]
Environment="REPORT_PATH=/var/www-data/htdocs/"
Environment="LOG_PATH=/"
ExecStart= /usr/lib/jvm/java-16-openjdk-amd64/bin/java -Dmyserver.basePath='/var/jarservice/' -Dmyserver.bindAddr='127.0.0.1' -Dmyserver.bindPort='8080' -Dmyserver.hostName='Sausage-store' -Dspring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME} -Dspring.datasource.username=${PSQL_USER} -Dspring.datasource.password=${PSQL_PASSWORD} -jar /var/jarservice/sausage-store.jar
IgnoreSIGPIPE=false
Restart=always
StandardOutput=file:/opt/log/sausage-store-backend.log
StandardError=file:/opt/log/sausage-store-backend.log
User=jarservice
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target